@charset "utf-8";

@import "_common";

.desc{
    ul{
        li{
            font-weight: bold;
            color: blue;
            font-size: 20px;
        }
    }
}
.container {
    padding-top: 250px;
}
section{
    border-top: 1px dotted;
    padding-top: 80px;
    padding-bottom: 80px;
    h2{
        font-size: 22px;
        background-color: bisque;
        display: inline-block;
        padding: 0 0.5em;
        margin-bottom: 1em;
    }
    span{
        font-weight: bold;
        font-size: 18px;
    }
    strong{
        font-size: 24px;
    }
    .red{
        color: red;
    }
    p{
        margin-top: 1em;
    }
}

.jumbotron{
    background-color: #000 !important;
    color: #fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    border-radius: 0 !important;
    p{
        font-weight: bold;
        font-size: 16px;
    }
}
.kotae{
    margin-top: 200px;
}
.last{
    margin-top: 200px;
}
